body {
    background-color: green;
}

#cardbackground {
    width: 500px;
    margin-top: 100px;
    margin-bottom: 25px;
    background-color: #ffffff;
    border-style: solid;
    border-color: black;
    border: 1px;
    border-radius: 25px;
    
}

.cardsuit {
    width: 85px;
    height: 100px;
    margin: 15px 0px 60px 0px;
}

.cardsuitflipped {
    width: 85px;
    height: 100px;
    margin: 60px 0px 15px 10px;
    transform: rotate(180deg);
}

h2 {
    font-size: 100pt;
    font-family: sans-serif;
    padding: 30px 0px;
    text-align: center;
}

button{
    margin-top: 20px;
    padding: : 10px 18px;
}